.WordsListItem__listItemHeader {
	display: flex;
}

.WordsListItem__listItemFrequency {
	color: red;
	flex: 0 0 56px;
}

.WordsListItem__listItemWord {
	flex: 0 0 180px;
}

.WordsListItem__listItemCounter {
	color: #757575;
}

.WordsListItem__listItemDefinition {
	flex: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 13px;
	margin-right: 50px;
}

.WordsListItem__listItemDeleteButton {
	visibility: hidden;
	opacity: 0;
	transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, visibility 0ms 450ms;
}

.WordsListItem__listItem:hover .WordsListItem__listItemDeleteButton{
	visibility: visible;
	transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, visibility 0ms 0ms;
	opacity: 1;
}

.WordsListItem__tableWrapper {
	max-height: 300px;
	overflow: auto !important;
	margin: 0px 16px 8px 16px !important
}

.WordsListItem__tableColumn {
	white-space: unset !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

@media (max-width: 600px) {
	.WordsListItem__listItemDefinition {
		display: none;
	}

	.WordsListItem__listItemWord {
		flex: auto;
	}
}


