.WordsListItem__header {
    display: flex;
    flex: 1;
    align-items: center;
}

.WordsListItem__icon {
    color: red;
    flex: 0 0 56px;
}

.WordsListItem__word {
    flex: 1 0 180px;
}

.WordsListItem__counter {
    color: #757575;
}

.WordsListItem__description {
    flex: auto;
    font-size: 13px;
    margin-right: 50px;
}

.WordsListItem__delete {
    visibility: hidden;
}

.WordsListItem__tableWrapper {
    width: auto;
    overflow-x: auto;
}

.WordsListItem__listItem:hover .WordsListItem__delete {
    visibility: visible;
}

@media (max-width: 600px) {
    .WordsListItem__description {
        display: none;
    }

    .WordsListItem__word {
        flex: auto;
    }
}
