.WordsListItem__header {
	display: flex;
	flex: auto;
	padding-right: 0 !important;
	align-items: center;
}

.WordsListItem__icon {
	color: red;
	flex: 0 0 56px;
}

.WordsListItem__word {
	flex: 0 0 180px;
}

.WordsListItem__counter {
	color: #757575;
}

.WordsListItem__description {
	flex: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 13px;
	margin-right: 50px;
}

.WordsListItem__delete {
	visibility: hidden;
	width: 24px !important;
	height: 24px !important;
}

.WordsListItem__listItem:hover .WordsListItem__delete {
	visibility: visible;
}

.WordsListItem__tableWrapper {
	max-height: 300px;
	overflow: auto !important;
}

@media (max-width: 600px) {
	.WordsListItem__description {
		display: none;
	}

	.WordsListItem__word {
		flex: auto;
	}
}
